<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Analise de Sentimentos - {% block title %}{% endblock %}</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
        <div id="app">
            <v-app dark>
                <v-content>
                    <v-container fluid grid-list-md>{% block content %}{% endblock %}</v-container>
                </v-content>
            </v-app>
        </div>
        <div id="footer">
            {% block footer %}
            &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
            {% endblock %}
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script>
        Vue.use(Vuetify, {
            theme: {
                primary: '#3f51b5',
                secondary: '#b0bec5',
                accent: '#8c9eff',
                error: '#b71c1c'
            }
        });
        new Vue({
            el: '#app',
            data: {
                message: '',
                phrase: ''
            },
            delimiters: ['[[',']]'],
            methods: {
                analyze(event) {
                    this.$http.post('/analyze', this.data, {
                       headers: {
                           'Content-Type': 'multipart/form-data'
                       }
                    }).then(response => {
                        // success callback
                    }, response => {
                        // error callback
                    });
                }
            }
        })
    </script>
</html>